services:
  backend:
    build:
      context: ../../
      dockerfile: apps/api/Dockerfile
      target: runner
    container_name: momentum-backend-prod
    restart: always
    ports:
      - "5001:5001"
    env_file:
      - .env.prod
    networks:
      - momentum-prod-network

networks:
  momentum-prod-network:
    driver: bridge
